@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#cursor {
  transform-origin: 0 0;
}

.cursor-hovering{
  transform-origin: 0 0;
  rotate:180deg;
  transition: rotate 0.5s;
  background:black;
  backdrop-filter: difference;
}
#t1 {
  position:absolute;
  top:-36%;
  left:40%;
  transition: 0.2s;
  isolation: isolate;
}
#t1 > path{
 
  mix-blend-mode: difference;
}



#t2{
  position:absolute;
  top:-66%;
  left:-14%;
  transition: 0.2s;
  fill:difference

}

#t3{
  position:absolute;
  top:-40%;
  left:-49%;
  transition: 0.2s;
  fill:difference

}

#t4{
  position:absolute;
  top:75%;
  left:-72%;
  transition: 0.2s;
  fill:difference

}

#t5{
  position:absolute;
  top:55%;
  left:11%;
  transition: 0.2s;
  fill:difference
}

#t6{
  position:absolute;
  top:25%;
  left:65%;
  transition: 0.2s;
  fill:difference
}





.cursor-hovering > #t1 {
  top:-22%;
  left:36%
}
.cursor-hovering > #t2 {
  top:-42%;
  left:-11%;
}

.cursor-hovering > #t3 {
  left:-32%;
}
.cursor-hovering > #t4 {
  top:60%;
  left:-70%;
}
.cursor-hovering > #t5 {
  top:49%;
  left:0%;
}
.cursor-hovering > #t6 {
  left:50%;
}

/*
#cursor:hover > #t1 {
  top:-22%;
  left:100%
}
#cursor:hover > #t2 {
  top:-110%;
  left:-11%;
}

#cursor:hover > #t3 {
  left:-100%;
}
#cursor:hover > #t4 {
  top:100%;
  left:-70%;
}
#cursor:hover > #t5 {
  top:100%;
  left:0%;
}
#cursor:hover > #t6 {
  left:100%;
}*/

.bg-heroimage {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/herobg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}

.bg-concrete {
  background-image: url("/concrete.svg");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

.bg-pic {
  background-image: url("/pic.png");
  background-size: contain;
  background-repeat: repeat;
}

.bg-print1{
  background-image: url("https://images.pexels.com/photos/18207342/pexels-photo-18207342/free-photo-of-mitsubishi-pajero-in-countryside.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.shrink {
  animation: shrink 2s;
}

.fader {
  animation: fadeIn 2s;
}

.timed-dimension{
  
}

@keyframes shrink {
  0%{
    transform: scale(280%);
  }
  100%{
    transform: scale(100%);
  }
}

@keyframes changeDimension {
  0%{
    width: 100vw;
  }
  100%{
    width: 400vw;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.custom-paragraph {
  font-size: 13px;
  font-weight: normal;
  margin: 5px;
  color: #4A4A4A;
}

.custom-link {
  font-weight: bold;
  color: #1CAAD9;
}



